<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

    <title>Connect</title>
  </head>
  <body>
    <nav id="navbar">
      <div class="logo">
        <p>C</p>
      </div>

      <ul>
        <li class="item">
          <a href="/profile">Profile</a>
        </li>
        <li class="item">
          <a href="/write">Write</a>
        </li>
        <li class="item">
          <input type="text" name="search" placeholder="Search Connect.." />
        </li>
        <li class="item">
          <a href="/">Sign out</a>
        </li>
      </ul>
    </nav>

    <p class="about">
     |  This is  social network
    </p>

    <footer>
      <p class="center foot">
        Copyrights &copy; www.Connect.com All rights are reserved!
      </p>
    </footer>
  </body>
</html>
