<!DOCTYPE html>
<html>
  <head>
    <title>forgot password</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/edit_profile.css" />
  </head>
  <body>
    <nav id="navbar">
      <div class="logo">
        <p>C</p>
      </div>

      <ul>
        <li class="item">
          <a href="/about">About us</a>
        </li>
        <li class="item">
          <a href="#">Contact us</a>
        </li>
        <li class="item">
          <input type="text" name="search" placeholder="Search Connect.." />
        </li>
        <li class="item">
          <a href="/signin">Sign in</a>
        </li>
      </ul>
    </nav>

    <div class="forgot">
      <form>
        <input type="text" name="email" placeholder="Enter your Email" id="emailf"/>
        <label id="error-fem"></label>
        <input id="btn" class="sendemail" type="submit" name="" value="Send" />
      </form>
    </div>
    <footer>
      <p class="center foot">
        Copyrights &copy; www.Connect.com All rights are reserved!
      </p>
    </footer>
    <script type="text/javascript" src="../static/script/forgot.js"></script>
  </body>
</html>
