doctype html
head
  link(rel='stylesheet' type='text/css' href='../static/css/style.css')
  title Connect
nav#navbar
  .logo
    p C
  ul
    li.item
      a(href='/about') About us
    li.item
      a(href='/about') Contact us
    li.item
      input(type='text' name='search' placeholder='Search Connect..')
    li.item
      a(href='/users/signin') Sign in
section#home
  h2.h-primary.center Welcome to Connect
  p.center Everyone has a story to tell
  p.center So let&apos;s listen..
hr
section.signup
  a#link(href='/users/signup') Sign Up
footer
  p.center.foot
    | Copyrights &copy;Connect.com All rights are reserved!
